header {
  height: 120px;
  background-image: linear-gradient(0, #ff6433, #f6402e);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
}
.header__navbar-item-has-qr:hover .header__qr{
 display: block;
}
.header__navbar-item--separate::after {
  /*xổ nối |*/
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #fb9086;
  height: 16px;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-icon-link {
  color: var(--white-color);
  margin-left: 4px;
}
.header__navbar-item-link,
.header__navbar-item {
  
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item-link:hover,
.header__navbar-item:hover {
  color:rgba(255,255,255, 0.6);
  cursor: pointer;
}
.header__navbar-item-link{
    margin-right: 4px;
}
.header__navbar-item--strong {
  font-weight: 600;
}
.header__navbar-icon {
    font-size: 1.8rem;
    color:var(--white-color);
    ;
}
.header__navbar-icon:hover{
    opacity: 0.8;
}
.header__navbar-title--no-poiter{
    cursor: text;
    color: var(--white-color);
}
/* header__qr */

.header__qr{
  display: none;
  border-radius: 2px;
  width: 185px;
  background-color: var(--white-color);
  position: absolute;
  top:100%;
  left: 0;
  padding :8px;
  margin-top: 15px;
  animation: faidIn ease-out   0.2s;
  
}
.header__qr::before{/*lớp giả để tạo khoảng nối hover */
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: -18px;
  height: 20px;
  

}
.header__qr-img{
  width: 100%;

}
.header__qr-apps{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.header__qr-code-download{
  height: 15px;
  
}