*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: lightblue;
}

.item{
    margin: 10px 0;
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}
